@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}

body{
    height: 840px;
    width: 1150px;
    border: 5px solid #0C4DA2;
    padding: 10px;
    margin: 300px;
    line-height: 1.5;
}

div img{
    width: 20%;
    height: auto;
    position: relative;
    top: 10%;
    right: -80%;
}

p{
    font-family: 'Montserrat', sans-serif;
}
h6{
    font-family: 'Montserrat', sans-serif;
    /* font-size: small; */
    text-align: center;
    /* font-weight: lighter; */
    letter-spacing: 1px;
}
table{
    border: 1px solid black;
}

td , th{
 padding: 15px 20px;
 text-align: center;
 
}
th{
 background-color: #0C4DA2;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: bold;
 text-transform: uppercase;

}
tr{
 width: 100%;
 font-weight: 400;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}